# Data Programming in Python | BAIS:6040
# Homework 4. Pandas

10 questions, 5 points in total <br>

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

You have a dataframe `df` in which each row refers to some features of a diamond such as carat, cut, color, clarity, depth, table, price, x, y, and z.

In [1]:
# Do not make any change to this cell. Just run this cell.
import numpy as np
from seaborn import load_dataset

df = load_dataset("diamonds")
np.random.seed(0)
df.iloc[np.random.randint(0, len(df), 10), :] = None

df

/usr/local/lib/python3.11/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

1\. (0.5 pts) Get the list of column names of `df` and save it in the variable `ans1`. The type of the list does not have to be the primitive Python list.

In [2]:
# Your answer here
ans1 = df.columns;

In [3]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans1

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

2\. (0.5 pts) Select the first 10 rows from `df` and save the resulting dataframe in the variable `ans2`.

In [4]:
# Your answer here
ans2 = df.head(10);

In [5]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans2

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0  326.0  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0  326.0  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0  327.0  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0  334.0  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0  335.0  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0  336.0  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0  336.0  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0  337.0  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0  337.0  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0  338.0  4.00  4.05  2.39

3\. (0.5 pts) Select all values in the `cut` column and save the resulting series in the variable `ans3`.

In [6]:
# Your answer here
ans3 = df['cut'];

In [7]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans3

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: category
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

4\. (0.5 pts) Select all rows in `df` that meet all the following three conditions: the cut is *Premium*, the color is *G*, and the price is greater than 10,000. Save the resulting dataframe in the variable `ans4`.

In [8]:
# Your answer here
ans4 = df[(df.cut == 'Premium') & (df.color == 'G') & (df.price > 10000)]

In [9]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

       carat      cut color clarity  depth  table    price     x     y     z
21939   1.35  Premium     G     VS1   62.1   59.0  10012.0  7.06  7.02  4.37
21951   1.51  Premium     G     SI1   58.7   60.0  10020.0  7.55  7.48  4.41
21953   1.51  Premium     G     SI1   60.6   58.0  10020.0  7.47  7.39  4.50
21954   1.51  Premium     G     SI1   59.7   58.0  10020.0  7.50  7.45  4.46
21955   1.51  Premium     G     SI1   62.0   58.0  10020.0  7.31  7.26  4.52
...      ...      ...   ...     ...    ...    ...      ...   ...   ...   ...
27670   2.03  Premium     G     VS2   59.6   60.0  18680.0  8.27  8.21  4.91
27680   2.01  Premium     G     SI2   61.2   57.2  18705.0  8.08  8.14  4.97
27687   1.70  Premium     G    VVS2   59.8   59.0  18718.0  7.70  7.75  4.62
27689   1.72  Premium     G    VVS2   61.8   60.0  18730.0  7.65  7.68  4.74
27725   2.01  Premium     G     SI1   60.3   59.0  18741.0  8.23  8.15  4.94

[365 rows x 10 columns]

5\. (0.5 pts) Select all rows in `df` that have any null values. Save the resulting dataframe in the variable `ans5`.

In [10]:
# Your answer here
mask = df.isnull().any(axis=1);
ans5 = df[mask];

In [11]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

       carat  cut color clarity  depth  table  price   x   y   z
2732     NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
20757    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
21243    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
30403    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
32103    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
41993    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
42613    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
43567    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
45891    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN
52416    NaN  NaN   NaN     NaN    NaN    NaN    NaN NaN NaN NaN

6\. (0.5 pts) Fill all the null values in `df` such that the last non-null observations are propagated forward. Make sure to update `df`.

In [12]:
# Your answer here
df.fillna(method="ffill")

       carat        cut color clarity  depth  table   price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53940 rows x 10 columns]

In [13]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53930 non-null  float64
 1   cut      53930 non-null  category
 2   color    53930 non-null  category
 3   clarity  53930 non-null  category
 4   depth    53930 non-null  float64
 5   table    53930 non-null  float64
 6   price    53930 non-null  float64
 7   x        53930 non-null  float64
 8   y        53930 non-null  float64
 9   z        53930 non-null  float64
dtypes: category(3), float64(7)
memory usage: 3.0 MB

7\. (0.5 pts) Get the mean carat,	mean depth, mean table, and mean price of all diamonds and save them in the variables `ans7_1`, `ans7_2`, `ans7_3`, and `ans7_4`, respectively.

In [14]:
# Your answer here
ans7_1 = df.carat.mean();
ans7_2 = df.depth.mean();
ans7_3 = df.table.mean();
ans7_4 = df.price.mean();

In [15]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans7_1, ans7_2, ans7_3, ans7_4

(0.7979580938253292, 61.749441869089566, 57.45713888373818, 3932.9619877619134)

8\. (0.5 pts) Get the mean carat, mean depth, mean table, and mean price of premium-cut diamonds and save them in the variables `ans8_1`, `ans8_2`, `ans8_3`, and `ans8_4`, respectively.

In [16]:
# Your answer here
premium_df = df[(df.cut == 'Premium')];
ans8_1 = premium_df.carat.mean();
ans8_2 = premium_df.depth.mean();
ans8_3 = premium_df.table.mean();
ans8_4 = premium_df.price.mean();

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans8_1, ans8_2, ans8_3, ans8_4

(0.8920607863049471, 61.26464529232554, 58.74607572900044, 4584.996735818947)

9\. (0.5 pts) Group `df` by `color` to get the mean price for each color. Save the resulting series in the variable `ans9`.

In [18]:
# Your answer here
color_mean = df.groupby('color').mean();
ans9 = color_mean['price'];

/tmp/ipykernel_2147/2955906232.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  color_mean = df.groupby('color').mean();

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans9

color
D    3170.403957
E    3076.752475
F    3725.146751
G    3999.895031
H    4486.078526
I    5092.000738
J    5323.818020
Name: price, dtype: float64

10\. (0.5 pts) Get a copy of `df` in which the dataframe is sorted by the columns `carat` and `price` both in ascending order. Save the resulting dataframe in the variable `ans10`.

In [20]:
# Your answer here
ans10 = df.sort_values(by=["carat", "price"], ascending=True);

In [21]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans10

       carat      cut color clarity  depth  table  price     x     y     z
14       0.2  Premium     E     SI2   60.2   62.0  345.0  3.79  3.75  2.27
31591    0.2  Premium     E     VS2   59.8   62.0  367.0  3.79  3.77  2.26
31592    0.2  Premium     E     VS2   59.0   60.0  367.0  3.81  3.78  2.24
31593    0.2  Premium     E     VS2   61.1   59.0  367.0  3.81  3.78  2.32
31594    0.2  Premium     E     VS2   59.7   62.0  367.0  3.84  3.80  2.28
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
41993    NaN      NaN   NaN     NaN    NaN    NaN    NaN   NaN   NaN   NaN
42613    NaN      NaN   NaN     NaN    NaN    NaN    NaN   NaN   NaN   NaN
43567    NaN      NaN   NaN     NaN    NaN    NaN    NaN   NaN   NaN   NaN
45891    NaN      NaN   NaN     NaN    NaN    NaN    NaN   NaN   NaN   NaN
52416    NaN      NaN   NaN     NaN    NaN    NaN    NaN   NaN   NaN   NaN

[53940 rows x 10 columns]

### Now that you have completed all the questions, click Kernel > Restart & Run All to creat a clean version of this notebook and check if all cells have run as expected.