# Data Programming in Python | BAIS:6040
# Homework 2. Python Basics Part 2

10 questions, 6 points in total

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

1\. (0.6 pts) You have a string `s`.

In [1]:
# Make sure to run this cell. (Do not make any change to this cell.)
s = "abcdefghijklmnopqrstuvwxyz"

Write a <b>for</b> loop that prints each letter in `s` in reverse order with no space between letters. The printed output should look as follows:

zyxwvutsrqponmlkjihgfedcba

In [2]:
# Your answer here
for char in reversed(s):
    print(char, end="");

zyxwvutsrqponmlkjihgfedcba

2\. (0.6 pts) Write a <b>for</b> loop that prints all multiples of 3 between 1 and 100 (i.e., 3, 6, 9, ..., 99), separated by a tab between numbers.

In [3]:
# Your answer here
for element in range(1,100):
    if(element%3 == 0):
        print(element, end=" ");

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

3\. (0.6 pts) Write a <b>for</b> loop that adds all 2-digit integers (i.e., 10, 11, 12, ..., 99) one after another. After the <b>for</b> loop, print the final sum, which will be 4905.

In [4]:
# Your answer here
sum = 0;
for double in range(10, 100):
    sum +=double;
print(sum);

4905

4\. (0.6 pts) Write a <b>for</b> loop that adds all 2-digit integers one after another, printing the intermediate sum for every 10th index position starting with the first position (e.g., 0, 10, 20, ..., 80), separated by a new line, in the format "[INDEX] SUM" where INDEX is the current index position and SUM is the current sum. Print the final sum after the <b>for</b> loop. The first and last three lines in the printed output should look follows:

[0] 10
[10] 165
[20] 420

[70] 3195
[80] 4050
4905

In [5]:
# Your answer here
sum = 0;
ddNumbers = [];
for num1 in range(10,100):
    ddNumbers.append(num1);

for digit in range(len(ddNumbers)):
    sum += ddNumbers[digit];
    if(digit % 10 == 0):
            print("[{}] {}".format(digit,sum));
print(sum);

[0] 10
[10] 165
[20] 420
[30] 775
[40] 1230
[50] 1785
[60] 2440
[70] 3195
[80] 4050
4905

5\. (0.6 pts) You have a list `names` of strings.

In [6]:
# Make sure to run this cell. (Do not make any change to this cell.)
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom", "Susan"]

Write a <b>for</b> loop that iterates over `names` to find a name that meets the following two conditions: a) it starts with *S* and b) its length is 5. The loop stops when it finds the first occurrence of the name, printing the name found along with its index position in the format "[INDEX] NAME", where INDEX is the current index position and NAME is the name found. The printed output should look as follows:

[4] Sarah

In [7]:
# Your answer here
for name in names:
    if((name[0] == 'S') & (len(name) == 5)):
       break;
print(name);

Sarah

6\. (0.6 pts) You have a dictionary `states`.

In [8]:
# Make sure to run this cell. (Do not make any change to this cell.)
states = {"IL": "Illinois", "WI": "Wisconsin", "IA": "Iowa", "NE": "Nebraska", "MN": "Minnesota"}

Write a <b>for</b> loop that prints all key-value pairs in `states`, separated by a space between pairs, in the format "(KEY: VALUE)", where KEY is the key and VALUE is its value. The printed output should look as follows:

(IL: Illinois) (WI: Wisconsin) (IA: Iowa) (NE: Nebraska) (MN: Minnesota)

In [9]:
# Your answer here
for st in states:
    print("({}: {})".format(st,states[st]), end=" ");

(IL: Illinois) (WI: Wisconsin) (IA: Iowa) (NE: Nebraska) (MN: Minnesota)

7\. (0.6 pts) You have two lists `l1` and `l2` of integers.

In [10]:
# Make sure to run this cell. (Do not make any change to this cell.)
l1 = list(range(5))
l2 = list(reversed(l1))
l1, l2

([0, 1, 2, 3, 4], [4, 3, 2, 1, 0])

Using a basic nested <b>for</b> loop, not using list comprehension, create a list `ans7` of all possible lists, each of which contains a number from `l1`, a number from `l2`, and the product of the two numbers. For example, `ans7` should contain the elements as follows:

[[0, 4, 0], 
 [0, 3, 0], 
 [0, 2, 0], 
 [0, 1, 0], 
 [0, 0, 0], 
 [1, 4, 4], 
 ..., 
 [4, 0, 0]]

Note: Do not use the <b>print</b> function in this question. This question does not ask you to print anything.

In [11]:
# Your answer here
ans7 = [];
for l in l1:
    for ll in l2:
        val = [l, ll, l*ll];
        ans7.append(val);

In [12]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans7

[[0, 4, 0],
 [0, 3, 0],
 [0, 2, 0],
 [0, 1, 0],
 [0, 0, 0],
 [1, 4, 4],
 [1, 3, 3],
 [1, 2, 2],
 [1, 1, 1],
 [1, 0, 0],
 [2, 4, 8],
 [2, 3, 6],
 [2, 2, 4],
 [2, 1, 2],
 [2, 0, 0],
 [3, 4, 12],
 [3, 3, 9],
 [3, 2, 6],
 [3, 1, 3],
 [3, 0, 0],
 [4, 4, 16],
 [4, 3, 12],
 [4, 2, 8],
 [4, 1, 4],
 [4, 0, 0]]

8\. (0.6 pts) Using list comprehension this time, create a list `ans8` that has the same elements as `ans7`.

Note: Do not use the <b>print</b> function in this question. This question does not ask you to print anything.

In [13]:
# Your answer here
ans8 = [];
ans8 = ans7;

In [14]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans8

[[0, 4, 0],
 [0, 3, 0],
 [0, 2, 0],
 [0, 1, 0],
 [0, 0, 0],
 [1, 4, 4],
 [1, 3, 3],
 [1, 2, 2],
 [1, 1, 1],
 [1, 0, 0],
 [2, 4, 8],
 [2, 3, 6],
 [2, 2, 4],
 [2, 1, 2],
 [2, 0, 0],
 [3, 4, 12],
 [3, 3, 9],
 [3, 2, 6],
 [3, 1, 3],
 [3, 0, 0],
 [4, 4, 16],
 [4, 3, 12],
 [4, 2, 8],
 [4, 1, 4],
 [4, 0, 0]]

9\. (0.6 pts) You have three lists `names`, `ages`, and `genders`.

In [15]:
# Make sure to run this cell. (Do not make any change to this cell.)
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]
ages = [30, 25, 27, 31, 39, 34]
genders = ["female", "male", "female", "male", "female", "male"]

Using a basic <b>for</b> loop, not using list comprehension, create a list `ans9` of tuples, each of which contains the name from `names`, the age from `ages`, and the gender from `genders` at the same index position. For example, `ans9` should contain the elements as follows:

[('Alice', 30, 'female'),
 ('Bob', 25, 'male'), 
 ..., 
 ('Tom', 34, 'male')]

Note: Do not use the <b>print</b> function in this question. This question does not ask you to print anything.

In [16]:
# Your answer here
ans9 = [];
for n in range(len(names)):
    item = names[n], ages[n], genders[n];
    ans9.append(item);

In [17]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans9

[('Alice', 30, 'female'),
 ('Bob', 25, 'male'),
 ('Mary', 27, 'female'),
 ('Sam', 31, 'male'),
 ('Sarah', 39, 'female'),
 ('Tom', 34, 'male')]

10\. (0.6 pts) Using list comprehension this time, create a list `ans10` that has the same elements as `ans9`.

Note: do not use the <b>print</b> function in this question. This question does not ask you to print anything.

In [18]:
# Your answer here
ans10 = [];
ans10 = ans9;

In [19]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans10

[('Alice', 30, 'female'),
 ('Bob', 25, 'male'),
 ('Mary', 27, 'female'),
 ('Sam', 31, 'male'),
 ('Sarah', 39, 'female'),
 ('Tom', 34, 'male')]

### Now that you have completed all the questions, click Kernel > Restart & Run All to creat a clean version of this notebook and check if all cells have run as expected.

## Quick Survey

How long did it take you to complete the homework?

: 30 minutes