# Data Programming in Python | BAIS:6040
# Homework 1. Python Basics Part 1

20 questions, 3 points in total

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

Suppose you have a string `s` as below. Do not change the value of `s` while working on the questions.

In [82]:
# Make sure to run this cell. (Do not make any change to this cell.)
s = "I'm taking the Data Programming in Python course in this semester."
ans1=len(s)

1\. (0.1 pts) Get the length of `s` and save it in the variable `ans1`.

In [83]:
# Your answer here
ans1

66

In [84]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)

2\. (0.1 pts) Get the first 3 characters in `s` and save it in the variable `ans2`.

In [85]:
# Your answer here
ans2 = s[:3]

In [86]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans2

"I'm"

3\. (0.1 pts) Get the last 10 characters in `s` and save it in the variable `ans3`.

In [87]:
# Your answer here
ans3 = s[56:]

In [88]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans3

' semester.'

4\. (0.1 pts) Check if the string '*Python*' is in `s` and save the outcome in the variable `ans4`. The outcome must be either True or False.

In [89]:
# Your answer here
ans4 = 'Python' in s

In [90]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans4

True

5\. (0.1 pts) Replace '*Data Programming in Python*' in `s` with '*Text Analytics*' and save the resulting string in the variable `ans5`. The new string must look like this: "*I'm taking the Text Analytics course in this semester.*"

In [91]:
# Your answer here
ans5 = s.replace('Data Programming in Python','Text Analytics')

In [92]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans5

"I'm taking the Text Analytics course in this semester."

6\. (0.1 pts) Get the frequency of the string '*the*' in `s` and save it in the variable `ans6`.

In [93]:
# Your answer here
ans6 = s.count('the')

In [94]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans6

1

<hr>

Suppose you have a list `heroes` as follows:

In [95]:
# Make sure to run this cell.
heroes = ["Superman", "Ant-Man", "Spider-Man", "Iron Man", "Bat Man"]

7\. (0.1 pts) Append a new item '*Aquaman*' to `heroes`. You do not have to save the outcome in a variable.

In [96]:
# Your answer here
heroes.append('Aquaman')

In [97]:
# Check if the new item has been added to heroes. (Do not make any change to this cell. Just run this cell.)
heroes

['Superman', 'Ant-Man', 'Spider-Man', 'Iron Man', 'Bat Man', 'Aquaman']

8\. (0.1 pts) Insert a new item '*Captain America*' at the first index position (i.e., index 0) in `heroes`. You do not have to save the outcome in a variable.

In [98]:
# Your answer here
heroes.insert(0,'Captain America')

In [99]:
# Check if the new item has been inserted at the first index position in heroes. 
# (Do not make any change to this cell. Just run this cell.)
heroes

['Captain America',
 'Superman',
 'Ant-Man',
 'Spider-Man',
 'Iron Man',
 'Bat Man',
 'Aquaman']

9\. (0.1 pts) Get the number of items in `heroes` and save it in the variable `ans9`.

In [100]:
# Your answer here
ans9 = len(heroes)

In [101]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans9

7

10\. (0.1 pts) Get a new sorted list of `heroes` in reverse alphabetical order and save it in the variable `ans10`. Do not change the value of `heroes`.

In [102]:
# Your answer here
ans10 = heroes[::-1]

In [103]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans10

['Aquaman',
 'Bat Man',
 'Iron Man',
 'Spider-Man',
 'Ant-Man',
 'Superman',
 'Captain America']

<hr>

Suppose you have a dictionary `states` as follows.

In [104]:
# Make sure to run this cell
states = {"Iowa": "IA", "Illinois": "IL", "Minnesota": "MN", "Nebraska": "NE", "Wisconsin": "WI"}

11\. (0.2 pts) Get the abbreviation for '*Iowa*' using `states` and save it in the variable `ans11`.

In [105]:
# Your answer here
ans11 = states['Iowa']

In [106]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans11

'IA'

12\. (0.2 pts) Check if the key '*Missouri*' is in `states` and save the outcome in the variable `ans12`. The outcome must be either True or False.

In [107]:
# Your answer here
ans12 = 'Missouri' in states

In [108]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans12

False

13\. (0.2 pts) Add '*Missouri*' and its abbreviation '*MO*' to `states`. You do not have to save the outcome in a variable.

In [109]:
# Your answer here
states['Missouri'] = 'MO'

In [110]:
# Check if the new key-value pair has been added to states. 
# (Do not make any change to this cell. Just run this cell.)
states

{'Iowa': 'IA',
 'Illinois': 'IL',
 'Minnesota': 'MN',
 'Nebraska': 'NE',
 'Wisconsin': 'WI',
 'Missouri': 'MO'}

14\. (0.2 pts) Get the list of all keys (only the keys, not the key-value pairs) in `states` and save it in the variable `ans14`.

In [111]:
# Your answer here
ans14 = states.values()

In [112]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans14

dict_values(['IA', 'IL', 'MN', 'NE', 'WI', 'MO'])

<hr>

Suppose you have a list `grades` as follows.

In [113]:
# Make sure to run this cell
grades = ["A", "C", "A", "B", "B", "C", "A", "B", "A", "A"]

15\. (0.2 pts) Convert the list `grades` to a set and save the resulting set in the variable `grades_set`. Do not change the value of `grades` for later use.

In [114]:
# Your answer here
grades_set = set(grades)

In [115]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
grades_set

{'A', 'B', 'C'}

16\. (0.2 pts) Get the number of unique items in `grades` and save it in the variable `ans16`. Use `grades_set`.

In [116]:
# Your answer here
ans16 = len(grades_set)

In [117]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans16

3

17\. (0.2 pts) Check if the length of `grades` is greater than or equal to the length of `grades_set` and save the outcome in the variable `ans17`. The outcome must be either True or False.

In [118]:
# Your answer here
ans17 = len(grades) >= len(grades_set)

In [119]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans17

True

<hr>

18\. (0.2 pts) Calculate the remainder of 283 divided by 10 and save it in the variable `ans18`.

In [120]:
# Your answer here
ans18 = 283 % 10

In [121]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans18

3

19\. (0.2 pts) Calculate the value of 5 to the power of 4 and save it in the variable `ans19`.

In [122]:
# Your answer here
ans19 = 5**4

In [123]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
ans19

625

20\. (0.2 pts) Delete the variable `grades`. You do not have to save the outcome in a variable.

In [124]:
# Your answer here
grades.clear()

## Quick Survey

How long did it take you to complete this homework? (This will not affect your score. Your answer will be very helpful for the instructor to design the homewok assignments and exams. Thank you!)

: 20 minutes