# Data Programming in Python | BAIS:6040
# Homework 5. Files

5 questions, 5 points in total

## Instructions

- Fill in the Python statements needed to complete all the questions below. 
- Program everything inside this notebook. 
- Use only one cell per question. 
- Each code cell must be run with no errors.
- Do not contain any unnecessary code in your answer. (Only the final outcome will be regarded as your answer.)
- If the question requests that you store information in a certain variable, use the specific variables name (case sensitive).
- All problems must be solved in a programmable way.
- When you are done, make sure to save your notebook and then click Restart & Run All before subimission to create a clean version.

## Questions

You have a dataframe `df` with the features of diamonds.

In [1]:
# Do not make any change to this cell. Just run this cell.
import os
from seaborn import load_dataset

df = load_dataset("diamonds")
df

/usr/local/lib/python3.11/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

1\. (1 pt) Create a CSV file named `hw_diamonds.csv` in the `outcome` directory. The file contains 7 column names `carat`, `cut`, `color`, `clarity`, `depth`, `table`, and `price` in the first row and the values from the corresponding columns of `df` in the following rows. The delimiter is a slash (/) for columns and a new line (\n) for rows. For example, the first 3 rows in the file must look as below. Do not use Pandas.

carat/cut/color/clarity/depth/table/price
0.23/Ideal/E/SI2/61.5/55.0/326
0.21/Premium/E/SI1/59.8/61.0/326

In [4]:
# Your answer here
if not os.path.isdir("outcome"):         
    os.mkdir("outcome") 
with open("outcome/hw_diamonds.csv", "w") as fw:
    fw.write("carat/cut/color/clarity/depth/table/price\n")      
    
    for idx, row in df.iterrows():
        fw.write("{}/{}/{}/{}/{}/{}/{}\n".format(row.carat, row.cut, row.color,row.clarity, row.depth, row.table, row.price))

In [5]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
os.path.isfile("outcome/hw_diamonds.csv")                # Expected output: True

True

2\. (1 pt) Read the file `hw_diamonds.csv` created in Question 1 and print the first 10 rows in the file including the header row, separated by a comma (,) between columns. For example, the output must be printed as below. Do not use Pandas.

carat,cut,color,clarity,depth,table,price
0.23,Ideal,E,SI2,61.5,55.0,326
0.21,Premium,E,SI1,59.8,61.0,326
0.23,Good,E,VS1,56.9,65.0,327
0.29,Premium,I,VS2,62.4,58.0,334
0.31,Good,J,SI2,63.3,58.0,335
0.24,Very Good,J,VVS2,62.8,57.0,336
0.24,Very Good,I,VVS1,62.3,57.0,336
0.26,Very Good,H,SI1,61.9,55.0,337
0.22,Fair,E,VS2,65.1,61.0,337

In [18]:
# Your answer here
with open("outcome/hw_diamonds.csv", "r") as fr:
    lines = fr.readlines()                 # Read the whole content in the file as a list of lines.
    
    # Decompose each line into values
    for line in lines[:10]:                 # Start from the second row.
        line = line.rstrip()               # Remove the trailing new line in each line.
        carat_val, cut_val, color_val, clarity_val, depth_val, table_val, price_val = line.split("/")
        print("{},{},{},{},{},{},{}".format(carat_val, cut_val, color_val, clarity_val, depth_val, table_val, price_val), end = "\n");

carat,cut,color,clarity,depth,table,price
0.23,Ideal,E,SI2,61.5,55.0,326
0.21,Premium,E,SI1,59.8,61.0,326
0.23,Good,E,VS1,56.9,65.0,327
0.29,Premium,I,VS2,62.4,58.0,334
0.31,Good,J,SI2,63.3,58.0,335
0.24,Very Good,J,VVS2,62.8,57.0,336
0.24,Very Good,I,VVS1,62.3,57.0,336
0.26,Very Good,H,SI1,61.9,55.0,337
0.22,Fair,E,VS2,65.1,61.0,337

3\. (1 pt) Read the file `hw_diamonds.csv` created in Question 1 into a Pandas dataframe `df_new`. Make sure that the dataframe has 7 columns and 53,940 rows. You should be aware of the column delimiter used in the CSV file.

In [25]:
# Your answer here
import pandas as pd
df_new = pd.read_csv("outcome/hw_diamonds.csv", sep="/")
df_new

       carat        cut color clarity  depth  table  price
0       0.23      Ideal     E     SI2   61.5   55.0    326
1       0.21    Premium     E     SI1   59.8   61.0    326
2       0.23       Good     E     VS1   56.9   65.0    327
3       0.29    Premium     I     VS2   62.4   58.0    334
4       0.31       Good     J     SI2   63.3   58.0    335
...      ...        ...   ...     ...    ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757
53936   0.72       Good     D     SI1   63.1   55.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757
53938   0.86    Premium     H     SI2   61.0   58.0   2757
53939   0.75      Ideal     D     SI2   62.2   55.0   2757

[53940 rows x 7 columns]

In [26]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
df_new.shape                                          # Expected output: (53940, 7)

(53940, 7)

4\. (1 pt) Create a list `diamonds`, in which each element is a dictionary with the 7 keys being `carat`, `cut`, `color`, `clarity`, `depth`, `table`, and `price` and the values being their corresponding values in `df_new`. For example, the first element in `diamonds` must look as below. Then, serialize `diamonds` as a JSON formatted stream to a file named `hw_diamonds.json` saved in the `outcome` directory.

{'carat': 0.23,
 'cut': 'Ideal',
 'color': 'E',
 'clarity': 'SI2',
 'depth': 61.5,
 'table': 55.0,
 'price': 326}

In [49]:
# Your answer here
import json
diamonds = []
for idx,val in df_new.iterrows():
    item={"carat":val.carat,"cut":val.cut,"color":val.color,"clarity":val.clarity,"depth":val.depth,"table":val.table,"price":val.price}
    diamonds.append(item)
    
with open("outcome/hw_diamonds.json", "w") as fw:
    json.dump(diamonds, fw)

In [50]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
diamonds[0]

{'carat': 0.23,
 'cut': 'Ideal',
 'color': 'E',
 'clarity': 'SI2',
 'depth': 61.5,
 'table': 55.0,
 'price': 326}

In [ ]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
len(diamonds)                                          # Expected output: 53940

In [51]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
os.path.isfile("outcome/hw_diamonds.json")                # Expected output: True

True

5\. (1 pt) Deserialize the `hw_diamonds.json` file created in Question 4 to a Python list named `diamonds_new`.

In [52]:
# Your answer here
with open("outcome/hw_diamonds.json", "r") as fr:
    diamonds_new = json.load(fr)

In [53]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
diamonds_new[0]

{'carat': 0.23,
 'cut': 'Ideal',
 'color': 'E',
 'clarity': 'SI2',
 'depth': 61.5,
 'table': 55.0,
 'price': 326}

In [54]:
# Check your answer here. (Do not make any change to this cell. Just run this cell.)
len(diamonds_new)                                      # Expected output: 53940

53940

### Now that you have completed all the questions, click Kernel > Restart & Run All to creat a clean version of this notebook and check if all cells have run as expected.